*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--color-primary-dark: #000000;
	--color-secondary-dark: #222222;
	--color-button-grey: #4a4a4a;
	--color-button-light: #ffffff;
	--color-red-primary: #b32d2d;
	--color-green-primary: #4bc800;
    --color-transparent: #4a4a4a99;
}
.debug{
    border: 1px solid white;
}
header{
    margin-bottom: 70px;
    background-color: var(--color-primary-dark);
}
.container{
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary-dark);
}
.main{
    background-color: var(--color-primary-dark);
    height: calc(100vh - 71px);
    overflow-y: auto;
    padding: 20px 70px;
}
.zoom-bar{
    height: 70px;
    background-color: var(--color-secondary-dark);
    display: block;
}
.cards{
    width: calc(100% / 7);
    padding: 7px 3px;
    min-width: 100px;
    position: relative;
}
.cards img{
    width: 100%;
    display: block;
}
.users{
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: var(--color-transparent);
    color: var(--color-button-light);
    padding: 4px;
}
.utility-container{
    color: var(--color-button-light);
    padding: 8px;
}
.icons{
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 5px;
}
.action{
    font-size: 0.9em;
}
.fa-display{
    color: var(--color-green-primary);
}
.button{
    color: var(--color-red-primary);
    padding: 10px;
    
}
.last{
    height: 100%;
    background-color: var(--color-button-grey);
}
/*flex*/
.wrap-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.sb-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-flow: row nowrap;
}